@{
    ViewBag.Title = "请稍后,正在加载";
    Layout = null;
}
@model LiveCodeDisplayA.Models.AbpResult<LiveCodeDisplayA.Models.ScanQrCodeResult>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (Model != null && Model.result.IsSucess && Model.result.InnerCode != null)
    {
        <title> @Model.result.InnerCode.Name</title>
    }
    else
    {
        <title>请稍后，正在加载</title>
    }
</head>
<body style="background-color:rgb(237,237,237)">

    @if (Model != null && Model.result.IsSucess && Model.result.InnerCode != null)
    {
        <img id="qrcodeImg" style="position:absolute; top:0px;left:0px; width:100%;" src="@Model.result.InnerCode.DisplayUrl" />
    }
    else
    {
        <h4>系统错误，请稍后再试</h4>
    }
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</body>
</html>

<script>
    var activityId = '@ViewBag.activityId';
    var ownerUserId = '@ViewBag.ownerUserId';
    var publicityId = '@ViewBag.publicityId';
    var userId = '@ViewBag.userId';
    var openid = '@ViewBag.openid';
    var innerCodeId = '@ViewBag.innerCodeId';
    $(function () {
        $("#qrcodeImg").on({
            touchstart: function (e) {
                timeOutEvent = setTimeout("longPress()", 500);
            },
            touchmove: function () {
                clearTimeout(timeOutEvent);
                timeOutEvent = 0;
            },
            touchend: function () {
                clearTimeout(timeOutEvent);
                if (timeOutEvent != 0) {
                }
                return false;
            }
        })
    });
    function longPress() {
        timeOutEvent = 0;
        $.ajax({
            type: "POST",//FromMethod
            url: "/Home/LongPress",//"/Controller/Action"，记住这里前面一定记得要有"/".
            data: {
                openId: openid,
                userId: userId,
                activityId: activityId,
                ownerUserId: ownerUserId,
                innerCodeId: innerCodeId,
                publicityId: publicityId
            },//参数，无参数填空
            success: function (msg) {//请求成功后执行的方法

            },
            error: function (err) {//请求错误后执行的方法
                alert(err)
            }
        });
    }
</script>